/* General Styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
}

.container {
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 40px;
    width: 800px;
    height: fit-content;
    text-align: center;
    display: flex;
    flex-direction: column;
}

h1 {
    color: #333333;
    margin-top: -20px;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
    text-align: left;
    color: #555555;
}

input[type="text"],
input[type="file"],
select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    font-weight: bold;
    width: 100%;
}

#colorPickerContainer {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers the whole block */
    margin-top: 10px;
}

#colorInputs {
    display: flex;
    align-items: left; /* Align items vertically */
    gap: 10px; /* Space between color picker and button */
    justify-content: left; /* Centering inside parent */
}

#color-picker1 {
    width: 50px;
    height: 40px;
    align-items: center;
    cursor: pointer;
    margin-left: 5px;
}

#addColorBtn:hover {
    background-color: #45a049;
}

#addColorBtn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 5px;
    width: fit-content;
    align-items: center;
}

button:hover {
    background-color: #45a049;
}

#result {
    margin-top: 30px;
}

#generatedImage {
    width: fit-content;
    max-height: fit-content;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-top: 15px;
}

#downloadBtn {
    background-color: #007BFF;
    margin-top: 10px;
}

#downloadBtn:hover {
    background-color: #0056b3;
}

#loadingIndicator {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #007BFF;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin-top: 40px;
    align-self: center;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


select {
    background-color: #f9f9f9;
    cursor: pointer;
}

select:focus {
    outline: none;
    border-color: #4CAF50;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}